.settings {
  padding: 16px 32px;
  min-height: 35vh;
  color: var(--clr-secondary-dark);

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;

    input {
      width: 100%;
      height: 30px;
      padding: 0 5px;
      font-size: 16px;
      outline: none;
      color: var(--clr-secondary-dark);
      border-radius: 4px;
      background-color: var(--clr-additional-5);
      border: 1px solid var(--clr-additional-3);
      transition: border-color 0.2s ease-in-out;

      &:focus, &:hover {
        border-color: var(--clr-additional-1);
      }
    }

    & > span {
      padding: 8px 0;
      width: 60%;
    }
  }

  &__wrapper__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
    color: var(--clr-secondary-lighter);
  }

  &__item__wrapper {
    padding: 4px;
    & > div {
      margin-bottom: 4px;
    }
    & > div > .title {
      padding: 8px 0;
      font-weight: 300;
    }
  }

  &__select {

    width: 30%;
  }
}