.frame {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content";

  .sidebar {
    grid-area: sidebar;
    padding: 24px;
    background-color: var(--clr-additional-5);
    border-right: 2px solid var(--clr-secondary-light);
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    a, span {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      gap: 8px;

      font-size: 20px;
      padding: 8px 24px;
      border-radius: 8px;
      text-decoration: none;
      color: var(--clr-secondary-dark);
      transition-duration: .2s;

      &.router-link-active {
        background-color: var(--clr-additional-1);
        color: var(--clr-secondary-light);
      }
      &.router-link-active:hover {
        background-color: var(--clr-additional-1-op-medium);
      }
      &:hover {
        background-color: var(--clr-additional-1-op-light);
      }
      //&.disabled {
      //  //background-color: var(--clr-secondary-light);
      //  //color: var(--clr-secondary-dark);
      //  cursor: not-allowed;
      //  pointer-events: none;
      //}
      &#export {
        margin-top: auto;
        &.loading {
          pointer-events: none;
          background-color: var(--clr-additional-3);
          &:hover {
            cursor: progress;
          }
        }
      }
      &.hidden {
        display: none;
      }
    }

  }

  .schedule {
    grid-area: content;
    background-color: var(--clr-additional-5);
  }
}